<body>
  <h1>Create a Team and Heroes!</h1>
  <form action="/teams" method="POST">
    Team Name: <input name="team[name]" type="text"></br>
    Team Motto: <input name="team[motto]" type="text">
    </br>
    <!-- <h1>Hero 1</h1> -->
    Hero Name: <input id="member1_name" name="team[members][][name]" type="text">
    </br>
    Hero Power: <input id="member1_power" name="team[members][][power]" type="text">
    </br>
    Hero Biography: <input id="member1_bio" name="team[members][][bio]" type="text">
    </br>
    <h1>Hero 2</h1>
    Hero Name: <input id="member2_name" name="team[members][][name]" type="text">
    </br>
    Hero Power: <input id="member2_power" name="team[members][][power]" type="text">
    </br>
    Hero Biography: <input id="member2_bio" name="team[members][][bio]" type="text">
    </br>
    <h1>Hero 3</h1>
    Hero Name: <input id="member3_name" name="team[members][][name]" type="text">
    </br>
    Hero Power: <input id="member3_power" name="team[members][][power]" type="text">
    </br>
    Hero Biography: <input id="member3_bio" name="team[members][][bio]" type="text"> -->
    </br>
    </br>
    <input id="submit" type="submit">

  </form>
</body>
